body {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 50px;
    max-width: 920px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    font-family: 'Helvetica', 'Arial', sans-serif;
    line-height: 1.5;
    font-weight: 300;
    background-color: #FFFFFF;
    color: #111111;
}

a {
    word-wrap: break-word;
    color: #0077CC;
    text-decoration: none;
}

a:visited {
    color: #4A6B82;
}

.brand {
    font-size: 25px;
    color: black !important;
}

.page-link {
    margin-right: 15px;
}

h1 {
    font-size: 26px;
    border-bottom: solid 1px silver;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h2 {
    font-size: 22px;
    border-bottom: solid 1px silver;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h3 {
    font-size: 18px;
    border-bottom: solid 1px silver;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h4 {
    font-size: 16px;
    border-bottom: solid 1px silver;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h5 {
    font-size: 14px;
    border-bottom: solid 1px silver;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

img {
    width: 100%;
    padding: 2px;
    max-width: 640px;
    max-height: 320px;
    border: solid 1px silver;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

hr {
    border: 0;
    height: 2px;
    margin:18px 0;
    position:relative;
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 10%, rgba(0,0,0,0.65) 50%, rgba(0,0,0,0) 90%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(0,0,0,0)), color-stop(10%,rgba(0,0,0,0)), color-stop(50%,rgba(0,0,0,0.65)), color-stop(90%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);
    background: linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 10%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0) 90%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
}

hr:before {
    content: "";
    display: block;
    border-top: solid 1px #f9f9f9;
    width: 100%;
    height: 1px;
    position: absolute;
    top: 50%;
    z-index: 1;
}

pre {
    border: solid 1px silver;
    padding: 10px;
    font-size: 12px;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    background-color: #f0f0f0;
}

code {
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 5px;
}

iframe {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.wordwrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

blockquote {
    font-style: italic;
}

#table-of-contents {
    font-size: 14px;
}

#table-of-contents ul {
    margin-left: 3px;
    padding-left: 15px;
}


#table-of-contents .header-1 {
    display: inline-block;
    margin-top: 10px;
    font-weight: 900;
}

#table-of-contents .header-2 {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
}

#table-of-contents .header-3 {
}

@media only screen and (min-width: 1280px) {
    #content {
        width: 720px;
        max-width: 720px;
        padding-left: 310px;
    }

    #table-of-contents {
        border: solid 1px #f0f0f0;
        padding: 10px;
        padding-bottom: 30px;
        position: fixed;
        width: 400px;
        height: 90%;
        left: 10px;
        top: 10px;
        overflow-y: scroll;
    }
}
